<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <title>Contact</title>
  <link rel="stylesheet" href="/style.css">
  <h2>Contact info</h2>
    <p>Send me an email at programmer@example.com</p>
</html>