<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <title>Info</title>
  <link rel="stylesheet" href="/style.css">
  <h2>Info about server</h2>
    <p>Below you have lots of extra information.</p>
</html>